# Ignore folders
processed_data/
data/
RADIATE Color Faces/
UIBVFED_cropped/
Configurations/
__pycache__/
dependencies/
writing/presentation/defence preparation

# Ignore files
*.pyc
*.xlsx
*.ini
*.log
*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
*.nav
*.out
*.snm
*.toc
*.bbl
*.blg
*.lof
*.lot
*.xml