# Ignore folders
processed_data/
Forms/
data/
Pilot data/
RADIATE Color Faces/
UIBVFED_cropped/
Configurations/
__pycache__/

# Ignore files
*.pyc
*.xlsx
*.ini
*.log
*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
*.nav
*.out
*.snm
*.toc
*.bbl
*.blg
*.lof
*.lot